

<!-- Flex -->

<div class="lg:container lg:mx-auto">

  <!-- Flex Grid -->

  <div class="flex mb-5 mt-4 mb-10">
    <div class="flex-1 mx-2">
      <!-- Simple Card  -->
      <a  class="block max-w-sm flex items-stretch p-6 bg-white rounded-lg shadow hover:bg-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

        <h5 class="mb-2 text-2xl mx-2 font-bold tracking-tight text-gray-900 dark:text-white">Total des comptes utilisateurs</h5>
        <p class="font-bold  text-2xl lg:self-end text-gray-700 dark:text-gray-400" style="color:rgb(30, 66, 159);">{{nbrAd + nbrCl + nbrOp}}</p>
        </a>
    </div>
    <div class="contents">
      <div class="flex-1 mx-2">
        <!--  Card without image or button -->
        <a  class="block max-w-sm flex items-stretch p-6 bg-white rounded-lg shadow hover:bg-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

          <h5 class="mb-2 text-2xl mx-2 font-bold tracking-tight text-gray-900 dark:text-white">Total des comptes opérateurs</h5>
          <p class="font-bold text-2xl lg:self-end text-gray-700 dark:text-gray-400" style="color:rgb(30, 66, 159);">{{nbrOp}}</p>
          </a>
      </div>
    </div>
    <div class="flex-1 mx-2">
      <a  class="block max-w-sm flex items-stretch p-6 bg-white rounded-lg shadow hover:bg-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

        <h5 class="mb-2 text-2xl mx-2 font-bold tracking-tight text-gray-900 dark:text-white">Total &nbsp; des comptes clientèles</h5>
        <p class="font-bold text-2xl lg:self-end text-gray-700 dark:text-gray-400" style="color:rgb(30, 66, 159);">{{nbrCl}}</p>
        </a>
    </div>
  </div>


</div>
