
<div class="lg:container lg:mx-auto">
  <div class="relative overflow-x-auto bg-gray-200 shadow-md sm:rounded-lg mb-10">
      <!-- Searching for a user  -->

      <!-- <form class="flex items-center max-w-sm mx-auto">
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"/>
                </svg>
            </div>
            <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Rechercher utilisatur par ID..." required />
        </div>
        <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
            <span class="sr-only">Search</span>
        </button>
      </form> -->

    <div class="flex justify-end mt-3 mb-4 mx-4">
      <div>
        <p class="p-5 text-lg font-semibold  text-left rtl:text-right text-gray-900  dark:text-white dark:bg-gray-800">
          <button type="button" (click)="addUser()"  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Ajouter un opérateur</button>
        </p>
      </div>

    </div>
    <!-- Searching datatable  -->
    <!-- <div class="pb-4 flex self-end bg-white dark:bg-gray-900 mx-3">
     <label for="table-search" class="sr-only">Search</label>
     <div class="relative mt-1">
         <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
             <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
             </svg>
         </div>
         <input type="text" id="table-search" class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">
     </div>
 </div> -->

   <table class="w-full text-sm text-left rtl:text-right bg-slate-100 text-gray-600 dark:text-gray-400">
     <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
       La liste des utilisateurs
       <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Ci-dessous, est la liste des utilisateurs de notre solution</p>
   </caption>
       <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
           <tr>
               <th scope="col" class="px-6 py-3">
                     ID
               </th>
               <th scope="col" class="px-6 py-3">
                   Nom
               </th>
               <th scope="col" class="px-6 py-3">
                   Prénom
               </th>
               <th scope="col" class="px-6 py-3">
                   Email
               </th>
               <th scope="col" class="px-6 py-3">
                   Telephone
               </th>
               <th scope="col" class="px-6 py-3">
                   Role
               </th>

               <th scope="col" class="px-6 py-3">
                   Action
               </th>
           </tr>
       </thead>
       <tbody>

                @for (item of rows; track item) {
                   <!-- template content to repeat -->
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-700">

                         <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" >{{item.id}}</th>
                         <td class="px-6 py-4" >{{item.nom}}</td>
                         <td class="px-6 py-4">{{item.prenom}}</td>
                         <td class="px-6 py-4">{{item.email}}</td>
                         <td class="px-6 py-4">{{item.telephone}}</td>
                         <td class="px-6 py-4">{{item.role}}</td>

                         <td class="flex items-center px-6 py-4">
                          <!-- <a href="#" class="font-medium text-lime-500 dark:text-blue-500 hover:underline">Edit</a> -->
                          <button type="button" (click)="updateUser(item.id)"  class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Modifier</button>
                          <button type="button" (click)="deleteUser(item.id)"  class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Supprimer</button>
                          <!-- <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline ms-3">Remove</a> -->
                         </td>

                      </tr>
               }

           @empty {
             <td class="px-6 py-4">No items where found</td>
           }

       </tbody>
   </table>
 </div>
</div>


<!-- Modal Content -->

