<!-- component -->
<div class="w-full p-8 mx-auto my-4 md:px-8 lg:w-9/12 lg:pl-20 lg:pr-40 mr-auto rounded-2xl shadow-2xl bg-gray-100">
  <div class="flex">
    <h1 class="font-bold uppercase text-3xl">Send us a <br /> message</h1>
  </div>
  <div class="grid gap-2 md:grid-cols-2 mt-5">
    <input class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
        type="text" placeholder="Votre ID*" />
    <input class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
        type="text" placeholder="Last Name*" />
    </div>
    <div class="my-4">
      <textarea placeholder="Message*" class="w-full h-32 bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"></textarea>
    </div>
    <div class="my-2 w-1/2 lg:w-1/4">
      <button class="uppercase text-sm font-bold tracking-wide bg-blue-900 text-gray-100 p-3 rounded-lg w-full
                  focus:outline-none focus:shadow-outline">
        Send Message
      </button>
    </div>
  </div>
