<app-head-user></app-head-user>

<div class="w-full p-8 mx-auto my-5 md:px-8 lg:w-10/12 lg:pl-24 lg:pr-40 mr-auto rounded-2xl shadow-2xl bg-gray-100">

  <div class="my-2 w-1/2 lg:w-1/4">

  </div>

  <div class="flex items-center lg:justify-between md:justify-between">
    <div class="flex">
        <div class="ml-3 text-sm">
          <h1 class="font-bold  text-xl">Le client :  {{userName}} </h1>
        </div>
        <!-- <div class="ml-10">
          <h4 class="font-medium  text-md text-gray-300">Connécté depuis </h4>
        </div> -->
    </div>

</div>
<div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
  <div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-10">
      <div class="rounded overflow-hidden shadow-lg">

          <a href="#"></a>
          <div class="relative">
              <a href="#">
                  <img class="w-full"
                      src="../../../../../assets/imgs/Sndpsiege.png"
                      alt="Sunset in the mountains">
                  <div
                      class="hover:bg-transparent  transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-transparent opacity-25">
                  </div>
              </a>
          </div>
          <div class="bg-white px-6 py-4">
            <a href="#"
            class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out">Notre bureau de Sfax offre</a>
            <p class="text-gray-500 text-sm">
              plusieurs produits à votre dispotision.
            </p>

          </div>
          <div class="px-6 py-4 flex flex-row items-center">
              <span href="#" class="py-1 text-sm font-regular text-gray-900 mr-1 flex flex-row items-center">

                  <a href="#"
                  class="font-semibold text-medium inline-block hover:text-indigo-600 transition duration-500 ease-in-out">Réserver Ticket</a>
                </span>
          </div>
      </div>
      <div class="rounded  shadow-lg">
          <a href="#"></a>
          <div class="relative">
              <a href="#">
                  <img class="w-full"
                      src="../../../../../assets/imgs/agil.png"
                      alt="Sunset in the mountains">
                  <div
                      class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-transparent opacity-25">
                  </div>
              </a>

          </div>
          <div class="bg-blue-100 px-6 py-4">

              <a href="#"
                  class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out">Notre bureau de Tunis offre</a>
              <p class="text-gray-500 text-sm">
                plusieurs produits à votre dispotision.
              </p>
          </div>
          <div class="bg-white px-6 py-4 flex flex-row items-center">
              <span href="#"
                  class="py-1 text-sm font-regular text-gray-900 mr-1 flex flex-row justify-between items-center">
                  <a href="#"
                  class="font-semibold text-medium inline-block hover:text-indigo-600 transition duration-500 ease-in-out">Réserver Ticket</a>
                </span>
          </div>
      </div>
      <div class="rounded  shadow-lg">

          <a href="#"></a>
          <div class="relative">
              <a href="#">
                  <img class="w-full"
                      src="../../../../../assets/imgs/Sndpsiege.png"
                      alt="Sunset in the mountains">
                  <div
                      class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-transparent opacity-25">
                  </div>
              </a>

          </div>
          <div class="bg-white px-6 py-4">

              <a href="#"
                  class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out">Notre bureau de Sousse offre</a>
              <p class="text-gray-500 text-sm">
                 plusieurs produits à votre dispotision.</p>
          </div>
          <div class="px-6 py-4 flex flex-row items-center">
              <span href="#"
                  class="py-1 text-sm font-regular text-gray-900 mr-1 flex flex-row justify-between items-center">
                  <a href="#"
                  class="font-semibold  text-medium inline-block hover:text-indigo-600 transition duration-500 ease-in-out">Réserver Ticket</a></span>
          </div>
      </div>
  </div>
</div>
<app-list-prods></app-list-prods>

</div>


 <!-- <app-head-user></app-head-user> -->
 <!--sidenav -->



<app-footer></app-footer>
