/** Setting card border*/
/* #content {
  margin: 0 auto;
  height : 100%;
  border: 1px solid #ccc;
}
form {
  margin: 0 auto;
  margin-top:2rem;
  border:2px solid #ccc;
  padding-bottom: 2em;
}

.ng-invalid.ng-touched , .ng-invalid.ng-dirty{
  border: 2px solid rgb(179, 41, 41);
}
 */
 /* .ng-invalid.ng-touched , .ng-invalid.ng-dirty{
  border: 1px solid rgb(231, 131, 131);
} */
