
<!-- <div class="lg:container lg:mx-auto bg-gray-100">


</div> -->
<div class="flex lg:container mt-6 lg:mx-auto rounded-lg">
  <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
    La liste des bureaux
    <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Ci-dessous, est la liste exhaustifs de nos bureaux.</p>
</caption>
</div>
<div class="flex justify-evenly justify-items-center lg:mb-2 md:mb-3 sm:mb-5 lg:mt-6 md:justify-items-between">
  @for(bureau of brx; track bureau) {
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a class="self-center">
          <img class="rounded-t-lg" src="../../../../assets/imgs/agil-removebg-preview.png" alt="image_bureau" />
      </a>
      <div class="p-5">
          <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-normal text-gray-900 dark:text-white" style="color:rgb(30, 66, 159);"> {{bureau.localisation }}</h5>
          </a>
          <p class="mb-3 font-normal tracking-wide text-gray-700 dark:text-gray-400">Notre bureau de <em class="font-semibold">{{bureau.localisation}}</em>  offre plusieurs produits à votre dispotision.
          </p>

          <button (click)="navigateToMore(bureau.id)" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Afficher plus
               <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
          </button>
      </div>
    </div>
  }
</div>

<!-- Modal Content -->

